@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import "../../node_modules/toastr/build/toastr.min.css";
@import "../../node_modules/sweetalert2/dist/sweetalert2.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/*@tailwindcss ui;*/

[x-cloak] {
    display: none;
}
@layer base {
    html {
      font-family: "Poppins, sans-serif", system-ui, sans-serif;
    }
    /*Estilos de notificaciones*/
    .swal2-popup {
      @apply bg-white text-gray-800 rounded-lg shadow-lg p-6;
    }
    
    .swal2-title {
      @apply text-2xl font-bold mb-4;
    }
    
    .swal2-content {
      @apply text-gray-600 mb-6;
    }
    
    .swal2-confirm {
      @apply bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded;
    }
    
    .swal2-cancel {
      @apply bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded ml-2;
    }
    /*---------------------------------------------------------------------------*/
    .fa-google {
      background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
    }
    input {
      box-sizing: border-box;
      border-width: 0;
      border-style: solid;
      border-color: #e2e8e8;
      /* Otros estilos que desees agregar */
    }
    input::placeholder {
      color: #9ca3af; /* Color personalizado para el placeholder */
      opacity: 1; /* Para asegurar que el color se aplique correctamente */
    }
    
    input:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #9ca3af;
    }
    
    input::-ms-input-placeholder { /* Microsoft Edge */
        color: #9ca3af;
    }

    .custom-button {
      /* Estilos personalizados para tu botón */
      background-color: #ffffff; /* Color de fondo personalizado */
      color: #9ca3af; /* Color de texto personalizado */
      border: 2px solid #dbdbdb; /* Borde personalizado */
      padding: 8px 16px; /* Relleno personalizado */
      border-radius: 4px; /* Bordes redondeados */
      cursor: pointer; /* Cambia el cursor al pasar por encima */
      transition: background-color 0.3s, border-color 0.3s, color 0.3s; /* Transiciones suaves */
    }
    
    .custom-button:hover {
      background-color: #e8fcfa; /* Cambia el color de fondo al pasar el mouse */
      border-color: #dbdbdbad; /* Cambia el color del borde al pasar el mouse */
      color: #cdd1d6; /* Color de texto personalizado */
    }

    /* Estilos para el menú lateral */
    .sidebar {
      width: 240px;
      background-color: #4b5563; /* Color de fondo del menú lateral */
    }

    /* Estilos para el contenido principal */
    .main-content {
      flex-grow: 1;
      background-color: #f3f4f6; /* Color de fondo del contenido principal */
    }
    .letra_custom{
      font-family:Poppins, sans-serif !important;
      font-size:14px !important;
      font-weight:600 !important;
    }
    .border-b-0 {
      border-bottom-width: 0 !important; /* Cambiar el ancho del borde a 0 para eliminar la línea de subrayado */
    }

    .border-0-0 {
      border-width: 0 !important; /* Cambiar el ancho del borde a 0 para eliminar la línea de subrayado */
    }

    .menu-content.hidden {
      display: none;
    }
    .menu-content.block {
        display: block;
    }
    .btn-minimize {
        background-color: transparent;
        border: none;
        font-size: 14px;
        cursor: pointer;
    }
    .ajuste{
      min-width: fit-content;
    }

    .correo_vis{
      display: block;
    }
    @media (max-width: 1015px) {
      .correo_vis {
          display: none;
      }
    }
    .logo_pincipal{
      display: block;
    }
    @media (max-width: 650px) {
      .logo_pincipal {
          display: none;
      }
    }
    
    .contenedor_Menu {
      width: 20%;
      max-width: 14rem;
    }

    @media (max-width: 790px) {
      .contenedor_Menu {
        width: 175px !important;
      }
    }
    @media (max-width: 650px) {
      .contenedor_Menu {
        width: 62px !important;
      }
    }
    .ajuste_imagen{
      width: 3rem;
      height: 3rem;
    }
    /*css eventos*/
    .eventos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 1rem 0.5rem 1rem;
        width: 398px;
        gap: 1rem;
        border-style: solid;
        border: 2px;
        border-color: var();
      }
    .card_eventos{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: left;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  
      transition: box-shadow 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
    }
    
    .card_eventos:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra más oscura al pasar el mouse */
        transform: scale(1.001); /* Ligero aumento de escala para resaltar el elemento */
    }

      
  .card_eventos_img {
    width: 100%;
    height: auto;
    overflow: hidden; /* Asegura que el contenido no se desborde */
  }

  .card_eventos_img img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain; /* Ajusta la imagen para que quepa dentro del contenedor sin recortarla */
    border-radius: 10px; /* Mantiene el borde redondeado en la imagen */
  }

    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        
        
        width: 100%;
        height: auto; 
        background: var(--background-secondary-color);
    }
    .card_eventos_details{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    
        gap: 0.5rem;
    }
    .card_eventos_container{
        display: flex;
        flex-direction: row;
        align-items: top;
        justify-content: space-between;
        
    
    }
    .card_eventos_img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        width: 100%;
        height: 10rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background: url(/img_conecta/Frame\ 24.png);
    }
    .card_eventos_wrapper{
        display: flex;
        flex-direction: column;
        align-items: top;
        justify-content: space-between;
        padding: 2rem;
        gap: 2rem;
    
    }
    .eventos-title{
      font-weight: bold;

    }
    .fecha_event {
      font-size: 12px; 
    }

    .card_eventos_opaco {
      background-color: transparent; /* Fondo transparente */
      border-radius: 0.5rem; /* Ajuste del radio de las esquinas */
      opacity: 0.7; /* Nivel de transparencia del contenido */
    }

    .card_eventos_wrapper_opaco, 
    .card_eventos_container_opaco, 
    .card_eventos_left_opaco{
        background-color: rgba(128, 128, 128, 0.5); /* Fondo translúcido */
    }
    /*css eventos fin*/
    /*css company Inicio*/
    .company-info > div {
      border-top: 1px solid #e5e7eb; /* Color del borde superior */
      border-bottom: 1px solid #e5e7eb; /* Color del borde inferior */
    }
    
    .company-info > div:first-child {
        border-top: none; /* Elimina el borde superior del primer elemento */
    }
    
    .company-info > div:last-child {
        border-bottom: none; /* Elimina el borde inferior del último elemento */
    }
    .border-b {
      border-top: none;
      border-right: none;
      border-left: none;
    }
    .w-imagen{
      width: 46px;
      height: 46px;
    }
    
    /* Estilo para el borde inferior cuando el input tiene foco */
    input:focus {
        border-top: none;
        border-right: none;
        border-left: none;
    }
    .blur-background {
        filter: blur(5px);
    }
    .participant-card {
      filter: blur(5px);
    }
    .blur {
        filter: blur(5px);
    }

    .participant-card {
      background-color: white;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      margin-bottom: 20px;
  }
  .participant-card img {
      height: 64px;
      margin-right: 16px;
      border-radius: 50%;
  }
  .participant-info {
      flex: 1;
  }
  .participant-info h4 {
      font-size: 1.25rem;
      font-weight: bold;
      margin: 0;
  }
  .participant-info p {
      color: #718096;
      margin: 4px 0;
  }
  .participant-info .category {
      color: #A0AEC0;
      font-size: 0.875rem;
      text-align: right;
  }
  .buttons {
      display: flex;
      gap: 10px;
      margin-top: 10px;
  }
  .button {
      background-color: #4A5568;
      color: white;
      padding: 8px 16px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }
  .heart-icon {
      margin-left: auto;
      cursor: pointer;
  }
  .participant-card {
    display: flex;
    flex-direction: column;
}

.image-container img {
    width: 100%;
    height: auto;
}

.info-container {
    padding-left: 1rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons button {
    display: inline-block;
}

.heart-icon {
    display: inline-block;
}
.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 50; /* Asegúrate de que el botón esté por encima de otros elementos */
}
  }
